@model Lab3_test3.Models.FormModel
@{
    ViewData["Title"] = "Form-Created";

    string userName = Model.Name;
    int repeatNum = Model.numOfRepeat;

}

<div class="text-left">
    <h1 class="display-4">Dane z formularza</h1>
    @Html.DisplayNameFor(model => model.Name):          @{ for (int i = 0; i < repeatNum; i++) { <p>@userName</p>}}
    <br />
    @Html.DisplayNameFor(model => model.numOfRepeat):   @Html.DisplayFor(model => model.numOfRepeat)

</div>
<p>Dziękujemy za wypełnienie formularza.</p>